body {
    background-color: #f7f7f7;
    font-family: 'Montserrat', sans-serif;
  }
  
  h1 {
    text-align: center;
    margin-top: 50px;
  }
  
  .container {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
  }
  
  p {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
  }
  
  a:hover {
    text-decoration: underline;
  }
  